body {
background-image: url(https://i.pinimg.com/564x/15/1c/62/151c6252895a5f1d8ee59d2b0e90c5ac.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 2100px
}

.avengers-logo-container {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  opacity: 0.6;
  filter: brightness(1.2);
}

.avengers-logo {
  width: 1000px;
}

.thor-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  opacity: 0.7;
    filter: brightness(1.1);
}

.thor-image-container img {
  width: 300px;
  height: 400px;
}

.thor-image-container img:hover {
  box-shadow: 5px 5px 10px rgba(0, 55, 255, 0.703);
}

.thor-text {
  font-size: 36px;
  margin: 0 -35px -100px 0;
  position: relative;
  font-family: 'Abel', sans-serif;
  opacity: 0.8;
  font-weight: bold;
  color: #f5f5f5;

}
.iron-man-image {
  display: flex;
  justify-content:center; 
  margin-top: 150px;
  margin-left: -30px;
  transform: translate(0px, -410px);
  opacity: 0.7;
  filter: brightness(1.1);
}

.iron-man-image img {
  width: 300px;
  height: 470px;
  
}
.iron-man-image img:hover {
  box-shadow: 5px 5px 10px red;
}
.iron-man-text {
  font-size: 36px;
  position: relative;
  color: #f5f5f5;
  margin: 36px -346px 0px 270px;
  font-family: 'Signika Negative', sans-serif;
  opacity: 0.8;
}

.topnav {
  background-color: #000;
  overflow: hidden;
  position: fixed;
  top: 1px;
  margin-left: 670px;
  z-index: 2;
  opacity: 0.8;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  width: 60px;
  text-align: center;
  padding: 14px 16px;
  left: 0;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #f2f2f2;
  color: black;
  transition: background-color 0.4s;
}
.topnav a.active {
  background-color: rgba(171, 15, 15, 0.914);
  color: white;
}
.topnav a.active:hover {
  background-color: #f5f5f5;
  color: black;
  transition: background-color 0.4s;
}

p {
  text-align: center;
  font-size: 20px;
  font-family: 'EB Garamond', serif;
  color: #f5f5f5;
  margin: 50px auto;
  }
.video {
  justify-content: center;
  margin: 50px auto;
  display: flex;
  align-items: center;
  transform: translate(10px, -1100px);
 }

.gauntlet {
 display: flex;
 position: relative;
 width: 300px;
 height: 300px;
 filter: brightness(0.4);
 align-items: center;
 left: -50px;
 top: -250px;
}

.thanos {
  display: flex;
  position: relative;
  height: 250px;
  left: 1160px;
  bottom: 710px;
  opacity: 0.3;
  filter: brightness(1.2);
  width: 300px;
}
.stones {
  display: flex;
  height: 600px;
  position: relative;
  bottom: 810px;
  filter: brightness(1.2);
  opacity: 0.5;
  left: 25px;
  max-width: fit-content;
}

 